<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 默认数据库软件类型：Oracle,SqlServer,MySql,Access,SQLite-->
  <add key="ComponentDbType" value="MySql" />
  <!-- 连接字符串是否加密-->
  <add key="ConStringDESEncrypt" value="false" />
  <!-- 代码生成器连接数据源模式：DataBase、PowerDesigner-->
  <add key="CodeMaticMode" value="DataBase" />
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- ================== 2：这里主要是服务器端配置项内容部分 ================== -->
  <!-- 系统默认登录账户，不能蒋账户修改  -->
  <add key="CurrentUserName" value="SystemQAZPOITHD" />
  <!-- 系统默认登录密码,密码是MD5 -->
  <add key="CurrentPassword" value="4a7d1ed414474e4033ac29ccb8653d9b" />
  <!-- 是否启动服务器缓存-->
  <add key="IsCache" value="true" />
  <!-- 服务器缓存设置时间（分钟）-->
  <add key="TimeCache" value="5" />
  <!-- 最大在线用户数量限制 -->
  <add key="OnLineLimit" value="200" />
  <!-- 允许重复登录,多人用同一帐号同时登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- IP限制验证 -->
  <add key="VerifyIPAddress" value="false" />
  <!-- ================== 3：系统性的参数配置 ================== -->
  <!-- 软件是否试用 -->
  <add key="IsRegistration" value="false" />
  <!-- 软件注册码 -->
  <add key="RegistrationCode" value="" />
  <!-- 当前客户公司名称 -->
  <add key="CustomerCompanyName" value="" />
  <!-- 软件名称 -->
  <add key="SoftName" value="" />
  <!-- 当前软件版本 -->
  <add key="Version" value="Hl.dotNet.Framework V2.0" />
  <!-- 联系我们信息 -->
  <add key="Contact" value="QQ：3108881585" />
  <!-- 软件许可证编号 -->
  <add key="Licence" value="" />
  <!-- ================== 4：系统邮件错误报告反馈相关 ================== -->
  <!-- 软件的错误报告发给谁 -->
  <add key="ErrorReportTo" value="" />
  <!-- 发出错误邮箱的地址 -->
  <add key="ErrorReportMailUserName" value="" />
  <!-- 发出错误邮箱的密码 -->
  <add key="ErrorReportMailPassword" value="" />
  <!-- 发出错误邮箱的名称 -->
  <add key="ErrorReportMailName" value="" />
  <!--压缩JS-->
  <add key="CombresSectionName" value="combres" />
  <!-- 发出错误邮箱设置邮箱主机 -->
  <add key="ErrorReportMailHost" value="smtp.exmail.qq.com" />
  <!-- ================== 5：系统角色 ================== -->
  <!-- 自定义：国内销售总监 -->
  <add key="RoleIdByXiaoJian" value="1ad669e1-8ef9-497f-bdd6-fe568a0faae0" />
  <!-- 自定义：国外销售总监 -->
  <add key="RoleIdByXiaoJianAbroad" value="31f6a8b1-8548-42cb-8ec5-d653fb58503f" />
  <!-- 自定义：国内销售代表 -->
  <add key="RoleIdByXiaoShou" value="6c3b4691-524e-49e5-86cc-e0ed02b76fce" />
  <!-- 自定义：国外销售代表>-->
  <add key="RoleIdByGuowaiXiaoshou" value="b5bbbd01-49af-48ec-92f8-e81f4b5989ad" />
  <!-- 自定义：国内销售主管 -->
  <add key="RoleIdByXiaoShouZhuGuan" value="e0684938-20e5-402e-9080-e56523fe5c9b" />
  <!-- 自定义：国外销售主管 -->
  <add key="RoleIdByXiaoShouZhuGuanAbroad" value="c69932d6-c287-4243-959c-01189651e4a1" />
  <!-- 自定义：国内销售总经理 -->
  <add key="RoleIdByXiaoShouManager" value="e0684938-20e5-402e-9080-e56523fe5c9b" />
  <!-- 自定义：国外销售总经理 -->
  <add key="RoleIdByXiaoShouManagerAbroad" value="c69932d6-c287-4243-959c-01189651e4a1" />

  <!-- 自定义：国内售后主管角色	 -->
  <add key="RoleIdByGuoXiaoZhu" value="3b3a6ebb-5813-422c-bbae-45149ce0fd62" />
  <!-- 自定义：国外售后主管角色 -->
  <add key="RoleIdByGuoWaiXiaoZhu" value="43fc91d7-9bef-4a41-8dac-89847e776ec0" />
  <!-- 自定义：国内售后代表 -->
  <add key="RoleIdByGuoNeiShouHou" value="f899d25c-d5f3-40f4-a9cf-25ec5fcddf6b" />
  <!-- 自定义：国外售后代表 -->
  <add key="RoleIdByGuoWaiXiaoDai" value="5d76a735-28ab-4218-a94b-2617286454b2" />

  <!-- 自定义：CRM -->
  <add key="RoleIdByCrm" value="562b093b-08c9-440a-abf4-bfb53ce43d67" />
  <!-- 自定义：技术支持 -->
  <add key="RoleIdByJiShuZhiChi" value="c8d3d3b9-4a11-46fb-8d80-49d0398091c6" />
  <!-- 自定义：客户角色 -->
  <add key="CustomerRoleId" value="3011716f-ca92-462d-9c21-c107b3e815c2" />
  <!-- 自定义：代理角色 -->
  <add key="RoleIdByAgent" value="c002b4ba-4a13-4d5a-86a3-7641c7d95eb1" />



  <!-- ================== 6：工单节点 ================== -->
  <!-- 节点：工单提交 -->
  <add key="OrderSubmit" value="e73e7f9d-38b1-4d23-a7d7-0774c9d8aa1e" />
  <!-- 节点：工单接受处理 -->
  <add key="OrderHandle" value="285aa5dc-98c3-4456-b4ea-053533e7e7f8" />
  <!-- 节点：工单分配 -->
  <add key="OrderAllot" value="f4265a4a-b16b-4d34-837d-8e9f45b64b37" />
  <!-- 节点：工单处理中 -->
  <add key="OrderInHandle" value="481d00df-c97d-4106-9936-997bbc49a752" />
  <!-- 节点：工单完成 -->
  <add key="OrderComplete" value="86b85835-c126-4b93-b351-c0ac9a1fdee2" />
  <!-- 节点：工单关闭 -->
  <add key="OrderClose" value="2674e119-0119-4888-b0d5-84208548c607" />
  <!-- 节点：转入售后后台 -->
  <add key="OrderAfter" value="07344969-19f3-4754-9666-7a793a8b1a9b" />
  <!-- 节点：工单流转 -->
  <add key="OrderLIUZHUAN" value="4e1a9d2c-fef1-4b17-9f6c-db46c46cac9b" />
  <!-- 节点：工单暂停 -->
  <add key="OrderZHnting" value="805888f4-96e3-4981-91a1-75cc7c245def" />
  <!-- 节点：工单上传 -->
  <add key="OrderSC" value="328e3b42-7766-47ad-bed7-551c70e7b369" />
  <!-- ================== 7：部门ID ================== -->
  <!-- 自定义：代理账号所属部门 -->
  <add key="DepartmentIdAgent" value="6f0581ab-0d8c-4e40-8e07-6254a097a8d9" />
  <!-- 自定义：终端客户所属部门 -->
  <add key="DepartmentIdCustomer" value="7a53301b-b944-4bc7-a0a4-f3d99f53c3dc" />
  <!-- 自定义：国内营销 -->
  <add key="DepartmentIdDomestic" value="9ec6cb49-72a4-4852-98f1-ac4ad40b12d5" />
  <!-- 自定义：海外营销 -->
  <add key="DepartmentIdOverseas" value="f3d9ae04-a238-4d60-9164-3a3703dd8342" />

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

</appSettings>